/* Contact */
section.portfolio {
    margin-top: 5.6em; /* 90px from header menu + 10em*/
    text-align: center;
    margin-bottom: 10em;
}
.mansory {
    max-width: 1200px;
    margin: 0 auto;
    column-count: 3;
}

section.port-details {
    margin-top: 10.6em;
}
section.port-details div.images {
    width: 40%;
}
section.port-details div.description {
    margin-left: 3em;
    width: 50%;
}
section.port-details div.description p {
    margin-bottom: 1em;
}
section.port-details div.description h2 {
    font-weight: 700;
    margin-bottom: 45px;
    font-size: 32px;
    color: #0077b7;
}
section.port-details div.description p.sub-title {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.015em;
    margin-bottom: 0;
    margin-top: 2em;
    text-transform: uppercase;
    color: #727272;
}
section.port-details div.description p.sub-text {
    color: #0077b7;
}
section.port-details div.description ul {
    margin-bottom: 1em;
}
section.port-details div.description ul li + li {
    margin-top: 1em;
}
section.port-details div.description ul li {
    color: rgb(82, 81, 81);
    font-weight: 500;
    list-style-type: disc;
    margin: 0 1em;
}


@media screen and (max-width: 600px) { 
    .mansory {
        margin: 0 auto;
        padding: 0 1em;
        column-count: 1;
    }
    section.port-details div.flex {
        flex-direction: column-reverse;
    }
    section.port-details div.description {
        margin-left: 0;
        padding: 0 1em;
        margin-bottom: 3em;
    }
    section.port-details div.images {
        margin-bottom: 5em;
    }
}